.root {
  display: flex;
  position: sticky;

  top: 0;
  left: 0;

  z-index: 10;
  background-color: var(--bg-color);
  height: var(--navbar-height);

  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: var(--padding-large);
  padding-right: var(--padding-large);
  padding-top: var(--padding-small);
}

.horizontal {
  display: flex;
}

/* BUTTON */
.button {
  display: flex;

  align-items: center;
  justify-content: space-between;

  background-color: var(--font-color);
  color: var(--bg-color);
  filter: brightness(0.9);

  /* border-style: solid;
    border-radius: var(--border-radius);
    border-color: var(--primary-tint-color);
    border-width: var(--border-width); */

  padding: var(--padding-small);
  padding-left: var(--padding-medium);
  padding-right: var(--padding-medium);

  margin-right: var(--navbar-margins);

  font-family: "Source Code Pro", monospace;
  font-weight: bold;
  font-size: medium;

  cursor: pointer;

  transition: all 150ms;
}

.button:hover {
  transform: scale(1.025, 1.025);
  background-color: var(--tint-p-color);
  color: var(--font-tint-color);
}

@media only screen and (max-width: 400px) {
  .button {
    display: none;
  }
}

.icon {
  display: none;
}

@media only screen and (max-width: 400px) {
  .icon {
    display: flex;
  }
}
