.root {
    display: flex;
    color: var(--font-color);
    font-family: "Fascinate", cursive;
    font-weight: bolder;
    font-size: xx-large;

    text-decoration: none;
    justify-content: center;

    cursor: pointer;
}