.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: clamp(1rem, 90%, 30rem);
}

.footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
}