.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(var(--navbar-height) / 1.75);
  width: clamp(1rem, 50%, 35rem);
  margin-left: var(--padding-large);
  margin-right: var(--padding-large);
}

.inputDiv {
  display: flex;
  align-items: center;
}

.input {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--navbar-height) / 1.75);
  width: clamp(1rem, 50%, 25rem);
  margin-left: var(--padding-large);
  margin-right: var(--padding-large);
  background-color: transparent;
  color: var(--font-color);
  font-size: medium;
}

.input:hover {
  border-color: var(--tint-p-color);
}

/* BUTTON */
.button {
  display: flex;

  height: 50%;
  align-items: center;
  justify-content: space-between;

  background-color: var(--font-color);
  color: var(--bg-color);
  filter: brightness(0.9);

  /* border-style: solid;
      border-radius: var(--border-radius);
      border-color: var(--primary-tint-color);
      border-width: var(--border-width); */

  padding: var(--padding-small);
  padding-left: var(--padding-medium);
  padding-right: var(--padding-medium);

  margin-right: var(--navbar-margins);

  font-family: "Source Code Pro", monospace;
  font-weight: bold;
  font-size: medium;

  cursor: pointer;

  transition: all 150ms;
}

.button:hover {
  transform: scale(1.025, 1.025);
  background-color: var(--tint-p-color);
  color: var(--font-tint-color);
}
