.root {
    display: none;
    align-items: center;
    justify-content: space-between;
    border-width: var(--border-width);
    border-radius: var(--border-radius);
    border-style: solid;
    height: calc(var(--navbar-height) / 1.75);
    width: clamp(1rem, 50%, 35rem);
    margin-left: var(--padding-large);
    margin-right: var(--padding-large);
}

.input {
    flex: 1;
    background-color: transparent;
    color: var(--font-color);
    outline: none;
    border: none;   
    font-size: large;
}

.button {
    width: 2rem;
    aspect-ratio: 1/1;
    border-width: var(--border-width);
    border-radius: var(--border-radius);
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}