.root {
    display: flex;
    flex-direction: column;
    margin-top: var(--padding-large);
    margin-bottom: var(--padding-large);
    align-items: center;
}

.copyright {
    font-size: small;
    filter: brightness(0.5);
}