.root {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    flex-direction: row;
    padding: var(--padding-small);

    border-style: solid;
    border-width: var(--border-width);

    width: clamp(1rem, 90%, 30rem);
    aspect-ratio: 5/1;
    margin-top: var(--padding-medium);
    margin-bottom: var(--padding-medium);
    border-radius: var(--border-radius);

}

.date {
    margin-top: -1rem;
    font-size: x-small;
}

.img {
    height: 10rem;
    aspect-ratio: 1/1;
    border-radius: var(--border-radius);
    object-fit: cover;
    cursor: pointer;
}

.text {
    margin-left: var(--padding-medium);
    display: flex;
    flex-direction: column;
}

.click {
    cursor: pointer;
}

.info {
    font-size: medium;
    margin-top: -0.25rem;
}

.footer {
    display: flex;
    margin-top: var(--padding-small);
    align-items: center;
    justify-content: space-between;
}